form {
  width: 35rem;
  margin: 0 auto;
  h1, h2, h3, h4, h5, h6 {
    color: $off-white;
  }
}
.captcha {
  display: grid;
  grid-template-columns: [first] 50% [second] 50%;
  grid-column-gap: 1rem;
  margin-top: 2rem;
  #btnRefresh {
    height: 2rem;
    width: 80%;
  }
  #txtCaptcha {
    font-size: $m-size;
    height: 2rem;
    width: 80%;
  }
  #txtInput {
    grid-column: span 2;
    height: 2.5rem;
    margin: 1rem auto;
    width: 90%;
  }
}
.contact {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 40rem;
}
#contact-area {
  color: $light-blue;
}
#contact-area input, #contact-area textarea {
  width: 30em;
}
#contact-area input, #contact-area textarea {
  border: 0.2em solid #ccc;
  margin: auto;
  resize: none;
  width: 100%;
}
#contact-area textarea:focus, #contact-area input:focus {
  border: 0.2em solid #900;
}
#contact-area input.submit-button {
  display: block;
  margin: auto;
  width: 10em;
}
.contact_title {
  color: $off-white;
}
.u-visually-hidden {
  left: -999rem;
  position: absolute;
}