// Layout and styles for menu and submenu navigation
/*
This is the extracted copied part responsible for showing & hiding the submenu.
*/

.nav__submenu {
  display: none;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}

/*
Layout styles.
alphabetically ordered. Element > id > class > child elements > state (hover)
*/

body {
  margin: 0;
  font-family: $sansSerif;
  font-size: $m-size;
  line-height: 1.5;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  align-self: center;
  background: $blue;
  color: $off-white;
  display: grid;
  grid-row: 1 /2;
  margin: 2rem auto 0;
  text-align: left;
  
  a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
}
  
.nav__menu {
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  a{
    text-decoration: none;
  }
  &:hover {
    background: $lava-gray;
  }
  &:visited {
    text-decoration: none;
  }
}
.nav__menu-about {
  cursor: $tiny_hibiscus;
} 
.nav__menu-item {
  display: inline-block;
  position: relative;
  &:hover {
    background-color: $blue;
    .nav__submenu {
      display: block;
    }
  }
}
    
.nav__submenu {
  background-color: $blue;
  display: none;
  font-weight: 700;
  position: absolute;
  text-transform: none;
  width: $submenu-width;
}
    
.nav__submenu-item {
  align-items: center;
  display: flex;
  height: $l-size;
  justify-content: center;
  &:hover {
    background: $lava-gray;
    border: 1px dashed $blue;
  }
}

.menu-container {
  text-align: center;
}
