.header {
  background: $lava-gray;
  color: white;
  font-family: $sansSerif;
  margin-bottom: 3rem;
  padding: $m-size;
}

.container {
  display: grid;
  grid-template-columns: 10% 10% 10% 20% 30% 10% 10% 10%; 
  grid-template-rows: 5rem 5rem;
}
//Block > Element > Modifier
.header__title {
  font-size: $l-size;
  grid-column: 1 / span 4;
  grid-row-start: 1;
  justify-self: start;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  grid-column: 1 / span 3;
  grid-row-start: 2;
  justify-self: end;
  margin: .5rem;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}