// Colors
$off-black: #20222B;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #00aeef;
$purple: #8357c5;
$off-white: #a5afd7;
$plumeria: #F42EA1;
$orange-hibiscus: #F27E29;

// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
$sansSerif: 'Lato', sans-serif;

//Custom cursor
$tiny_hibiscus: url('../assets/tiny_hibiscus.png'), pointer;