// Colors
$blue: darken(#3c4251, 10%);
$lava-gray: #4d5759;
$light-blue: #00aeef;
$off-white: #a5afd7;
$orange-hibiscus: desaturate(#F27E29, 5%);
$purple: #8357c5;
$plumeria: desaturate(#F42EA1, 5%);

// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$submenu-width: 15rem;

//Fonts
$sansSerif: 'Lato', sans-serif;

//Custom cursor
$tiny_hibiscus: url('../assets/tiny_hibiscus.png'), pointer;